---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import BlogPostList from "../../components/BlogPostList.astro";
const posts = await getCollection('write');
posts.reverse();
---

<PageLayout category="read" contentBased={false} pageTitle="I'm writin' I.T.">
  <section class="category-content">

    <div>
      <h2>I'm writin' I.T.</h2>
      <hr class="star-primary">
    </div>

    <BlogPostList category="write" posts={posts} />

  </section>
</PageLayout>
