---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const sortByDate = (a, b) => {
  return new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
}

const allBlogPostsRead = await getCollection('read', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const allBlogPostsWrite = await getCollection('write', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const allBlogPostsInspect = await getCollection('inspect', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const recentBlogPostsRead = allBlogPostsRead.sort(sortByDate).slice(0, 3);
const recentBlogPostsWrite = allBlogPostsWrite.sort(sortByDate).slice(0, 3);
const recentBlogPostsInspect = allBlogPostsInspect.sort(sortByDate).slice(0, 3);

---

<BaseLayout id="page-home" pageTitle="I'm lovin' I.T. by Julien Sobczak">

    <!-- Navigation -->

    <nav id="mainNav" class="navbar-default">
      <div class="container">
        <a class="navbar-brand" href="#page-top">I'm lovin' I.T.</a>
        <div class="navbar-collabsible">
          <input id="collapsible" class="navbar-checkbox-toggle" type="checkbox">
          <label for="collapsible" class="navbar-label-toggle">Menu <i class="fas fa-bars"></i></label>
          <div class="navbar-collapse">
            <ul>
              <li>
                  <a class="nav-link" href="#about-blog">About This Blog</a>
              </li>
              <li>
                  <a class="nav-link" href="#about-me">About Me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header id="page-top">
      <div class="container">
        <div id="logo">
          <img src="/img/me-head.png">
        </div>
        <div class="intro-text">
            <span class="name">I'm lovin' I.T.</span><span class="author manuscript">by Julien Sobczak, Programmer</span>
            <hr class="star-light">
            <span class="headline">Diary of a Life Long Learner</span>
            <blockquote>
              <q class="manuscript">Live as if you were to die tomorrow. Learn as if you were to live forever</q> — Gandhi
            </blockquote>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="about-blog" class="widescreen">
      <div class="container">
        <div>
          <h2>About this blog</h2>
          <hr class="star-primary">
        </div>
      </div>
      <div class="container">
      <div class="categories">
        <div>
          <a href="/categories/read"><img src="/img/imreadinit-icon.png" /></a>
          <a href="/categories/read"><h3>I'm <span class="text-colored">read</span>in' I.T.</h3></a>
          <p class="manuscript">Find your next technical (or not) book and expand your knowledge</p>
          <ul>
            <li>Latest books:</li>
            {recentBlogPostsRead.map((post) => {
              return (
                <li>
                  <a href={`/read/${post.slug}`}>
                    { post.data.shortTitle ? post.data.shortTitle : post.data.title }
                  </a>
                </li>
              );
            })}
            <li>or see them <a href="/categories/read">all</a>!
          </ul>
        </div>
        <!-- TODO
          I'm doin' I.T.
          Discover personal projects that could help you while learning
          Highlighted project: evolutio. Your companion to read faster, retain more, or train your brain.
        -->
        <div>
          <a href="/categories/write"><img src="/img/imwritinit-icon.png" /></a>
          <a href="/categories/write"><h3>I'm <span class="text-colored">writ</span>in' I.T.</h3></a>
          <p class="manuscript">Various posts or essays mainly about productivity, learning, soft skills and personal development</p>
          <ul>
            <li>Read the latest posts about</li>
            {recentBlogPostsWrite.map((post) => {
              return (
                <li>
                  <a href={`/write/${post.slug}`}>
                    { post.data.subject }
                  </a>
                </li>
              );
            })}
            <li>or see them <a href="/categories/write">all</a>!
          </ul>
        </div>
        <div>
          <a href="/categories/inspect"><img src="/img/iminspectinit-icon.png" /></a>
          <a href="/categories/inspect"><h3>I'm <span class="text-colored">inspect</span>in' I.T.</h3></a>
          <p class="manuscript">Stand on the shoulders of giants by learning techniques from top developers.</p>
          <ul>
            <li>Discover the inner working of famous OSS projects or programming languages:</li>
            {recentBlogPostsInspect.map((post) => {
              return (
                <li>
                  <a href={`/inspect/${post.slug}`}>
                    { post.data.subject }
                  </a>
                </li>
              );
            })}
            <li>or see them <a href="/categories/inspect">all</a>!
          </ul>
        </div>
      </div>
      <a href="/categories/all" class="btn btn-lg btn-outline btn-outline-colored">
        <i class="fas fa-list"></i> View All Posts
      </a>
    </div>
    </section>


    <!-- About Section -->
    <section class="colored" id="about-me" style="position: relative">
      <div class="container">
        <div>
            <div>
                <h2>About me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col">
              <p>My name is <strong>Julien Sobczak</strong>. <br/>I am a <strong>software developer</strong>.</p>
              <p>Since 2008, I'm been working mainly as a Java Web Developer, and now, I'm focusing on distributed systems using different languages including Go and Python.</p>
              <p>I work for <a href="https://www.scaleway.com">Scaleway</a>, one of the biggest European cloud providers. Previously, I was working for <a href="https://zenika.com/">Zenika</a>, a leading software company, ranked #1 on the Great Place to Work (2018) in France.</p>
            </div>
            <div class="col">
              <p>I have a strong interest in everything that is related to <strong>developer productivity</strong>: deliberate practice, clean code, memory techniques, speed reading, sport programming, and so on.</p>
              <p>The more I learn about my job, the more I realize how less I know but the more I like it, so I do my best to <strong>learn something new every day</strong>!<p>
            </div>
        </div>
        <div>
            <a href="https://fr.linkedin.com/in/julien-sobczak-56780a91" class="btn btn-lg btn-outline">
                <i class="fas fa-user"></i> View Full Profile
            </a>
        </div>
      </div>
    </section>

</BaseLayout>
