---
const { type, title, className } = Astro.props
---

<div class=`admonitionblock ${type} ${className}`>
  {title && <div class="title"><Fragment set:html={title} /></div>}
  <div class="content">
    <slot />
  </div>
</div>

