---
import BlogPostPreview from "./BlogPostPreview.astro"
const { category, posts } = Astro.props;
---

<div class="post-list-container list-view">
  <ul class="post-list">
    {posts.map(post => {
      return (
        <li class={`list-item item-stars-${ post.data.stars}`}>
          <BlogPostPreview category={category} post={post} />
        </li>
      )
    })}
  </ul>
</div>
