---
const { post } = Astro.props;
---
<div class={`post-preview post-${post.collection}-preview`}>

  <h4>{ post.data.date.toLocaleDateString('en-us', { year:"numeric", month:"long", day:"numeric"})}</h4>

  <h3>
    <a href={`/${post.collection}/${post.slug}`}>{ post.data.shortTitle ? post.data.shortTitle : post.data.title }</a>
    {post.data.stars &&
      <span class="rating">
        <i class="fas fa-star"></i>
        {post.data.stars >= 2 && <i class="fas fa-star"></i>}
        {post.data.stars >= 3 && <i class="fas fa-star"></i>}
        {post.data.stars >= 4 && <i class="fas fa-star"></i>}
        {post.data.stars >= 5 && <i class="fas fa-star"></i>}
      </span>
    }
  </h3>

  {post.collection === 'read' && <span class="authors">{ post.data.bookAuthors }</span>}

  <span>
    {post.data.tags && post.data.tags.map(tag => {
      return (
        <a href="{{ '/tags/' | append: tag | relative_url }}" class="tag">
          {tag.toUpperCase()}
        </a>
      )
    })}
  </span>

</div>
