---
---
<footer id="footer">
  <img src="/img/me-torso-scaleway.png" class="footer-me" />
  <div class="footer-above">
      <div class="footer-col">
          <h3>Location</h3>
          <p>Lille<br>France</p>
      </div>
      <div class="footer-col">
          <h3>Around the Web</h3>
          <ul class="list-inline">
              <!-- <li>
                  <a href="https://www.goodreads.com/user/show/104485538-sobczak-julien" title="Goodreads" class="btn-social btn-outline"><i class="fab fa-goodreads-g"></i></a>
              </li> -->
              <li>
                  <a href="https://literal.club/julien-sobczak" title="Library.club" class="btn-social btn-outline"><i class="fa fa-book"></i></a>
              </li>
              <li>
                  <a href="https://github.com/julien-sobczak" title="GitHub" class="btn-social btn-outline"><i class="fab fa-github"></i></a>
              </li>
              <li>
                  <a href="https://fr.linkedin.com/in/julien-sobczak-56780a91" title="LinkedIn" class="btn-social btn-outline"><i class="fab fa-linkedin"></i></a>
              </li>
          </ul>
      </div>
  </div>
  <div class="footer-below">
      <span>Opinions are my own and don't reflect the views of my employer.</span><br/>
      <span class="manuscript">In addition, as anybody with an open mind, my opinions are likely to change from time to time...</span><br/><br/>
      <small class="copyright">Copyright &copy; {new Date().getFullYear()} Julien Sobczak</small><br/>
  </div>
</footer>
