---
import MyBio from "../components/Bio.astro";
import BlogPostLayout from "./BlogPostLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogPostLayout category="inspect" frontmatter={frontmatter}>
  <div class="container">
    <article>
      <div class="content">
        <slot />
      </div>
      <MyBio />
    </article>
  </div>
</BlogPostLayout>
