---
import MyBio from '../components/Bio.astro';
import BlogPostLayout from './BlogPostLayout.astro'
const { frontmatter } = Astro.props;
---

<BlogPostLayout category="write" frontmatter={frontmatter}>
  <section class="content">

    <div class="container sticky-container">

      <article>

        <div class="content">
          <slot />
        </div>

        <MyBio />
      </article>

    </div>
  </section>
</BlogPostLayout>
