---
import BaseLayout from '../layouts/BaseLayout.astro';
const { category, contentBased, pageTitle } = Astro.props;
---

<BaseLayout id={contentBased ? 'page-post' : 'page-category'} pageTitle={pageTitle}>

  <!-- Navigation -->

  <nav id="mainNav" class="navbar-default">

    {contentBased && <div id="reading-bar"></div>}

    <div class="container">
      <a class="navbar-brand" href="/">I'm lovin' I.T.</a>
      <div class="navbar-collabsible">
        <input id="collapsible" class="navbar-checkbox-toggle" type="checkbox">
        <label for="collapsible" class="navbar-label-toggle">Menu <i class="fas fa-bars"></i></label>
        <div class="navbar-collapse">
          <ul>

            <li class={category === 'read' ? "active" : ''}>
              <a href="/categories/read">I'm readin' I.T.</a>
            </li>
            <li class={category === 'write' ? "active" : ''}>
              <a href="/categories/write">I'm writin' I.T.</a>
            </li>
            <li class={category === 'inspect' ? "active" : ''}>
              <a href="/categories/inspect">I'm inspectin' I.T.</a>
            </li>

            <li class="page-scroll">
                <a href="https://fr.linkedin.com/in/julien-sobczak-56780a91">About Me</a>
            </li>
          </ul>
        </div>
      </div>
      <button id="zen-mode-in"><i class="fas fa-minus"></i></button>
      <button id="zen-mode-out"><i class="fas fa-plus"></i></button>
    </div>
  </nav>

  <slot />

</BaseLayout>
